RewriteEngine On
# If an existing asset or directory is requested, serve it
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# If the request is for an Angular route, rewrite to index.html
RewriteRule ^(.*) index.html [NC,L]
